body {
    background-color: antiquewhite;
}
header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center
}
li{display: inline-block;
   margin: 20px;
}
}
form{background-color: aquamarine;
    width: 400px;
    height: 150px;
    text-align: center;
 padding-top: 5%;
}
main { 
    display: flex;
    flex-direction: row;
}