body {
}
header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center
}
li{display: inline-block;
   margin: 20px;
   
}
form{
    background-color: aquamarine;
    width: 400px;
    height: 150px;
    text-align: center;
 padding-top: 5%;
}
main { 
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-left: 5%
}
article{ width:;

}
p{
    max-width: 500px;
}
img{
  align-items: flex-end;
  margin-left: 40%;
  margin-top: 10%;
}
a{
    color: black;
}
a:hover{ 
    color: green;
    transition: 0.5s all ;
}